@model Nop.Plugin.Misc.FraudLabsPro.Models.PublicInfoModel
<div class="buttons" id="fraudlabspro-buttons-container">
    <a href="@Model.HrefUrl" target="_blank">
        <img style="border:none;" alt="FraudLabs Pro Prevents Fraud for Digital Businesses" src="@Model.LinkSrc">
    </a>
</div>
